REACT_APP_API_URL=https://27berxipfh.execute-api.ap-south-1.amazonaws.com/dev
REACT_APP_COGNITO_USER_POOL_ID=ap-south-1_STYxHAQAP
REACT_APP_COGNITO_CLIENT_ID=141mio422kgemdtpunrvfib9io
REACT_APP_S3_BUCKET=afterlifemessage-encrypted-messages
REACT_APP_REGION=ap-south-1 